@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.admin_layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.admin_layout_left {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    border-right: 1px solid #3593D8;
    position: relative;
}

.admin_layout_right {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    gap: 30px;
    justify-content: space-between;
}

.admin_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.admin_item img {
    display: block;
    width: 80px;
    padding-top: 20px;
}

.admin_item h2 {
    font-size: 18px;
    text-align: center;
}

.admin_item h3 {
    font-size: 15px;
    font-weight: 400;
}

.admin_tab {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.tab_item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    text-decoration: none;
    color: black;
}

.tab_item:hover {
    background-color: #3593D8;
    font-weight: bold;
    color: white;
}

.fi_tab {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.fi_tab_item_info {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;

}

.fi_tab_logout {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    text-decoration: none;
    color: black;
}

.fi_tab_itemtext {
    display: flex;
    color: #3593D8;
    font-weight: 600;
}

.fi_tab_itemadimin {
    display: flex;
    color: gray;
    font-size: small;
}

.chantrang {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #6DB9EF;
    color: white;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}

.text h2 {
    background-color: #3593D8;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.thembm {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #F5F5F5;
    width: 400px;
    margin: 70px auto;
    gap: 20px;
    padding: 50px;
    border-radius: 5px;
}


.them {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #3593D8;
    font-weight: 700;
}

input[type="text" i] {
    height: 35px;
    border: 1px solid #3593D8;
    border-radius: 3px;
}

.luubm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.luubm input {
    padding: 5px 10px;
    color: white;
    background-color: #3593D8;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 3px;
}